/*  colors of application */
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-gray300: #e1e5ee;
}

html {
    /* 62.5% of 16px = 10px..  16 px is the default value set by the browser. this will make calculations easer  */
    font-size: 62.5%;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--color-headings);
}

h1 {
    font-size: 10rem ;
}

/* Links */
a {
  text-decoration: none;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}


/* Icons */
.icon {
    width: 40px;
    height: 40px;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }

  /* Navigation Bar */
.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
  }
  
  .nav__list {
    width: 100%;
    margin: 0;
  }
  
  .nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
  }
  
  .nav__item > a {
    color: #d2d0db;
    transition: color 0.3s;
  }
  
  .nav__item > a:hover {
    color: #fff;
  }
  
  .nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }
  
  .nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
  }
  
  .nav__brand {
    transform: translateY(5px);
  }
  
  @media screen and (min-width: 768px) {
    .nav__toggler {
      display: none;
    }
  
    .nav__list {
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
    }
  
    .nav__item {
      border: 0;
    }
  }

  table {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    border-collapse: collapse;
    box-shadow: 0 5px 10px var(--color-gray300);
    background-color: white;
    text-align: left;
    overflow: hidden;
  }
  thead {
    box-shadow: 0 5px 10px var(--color-gray300);
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
    font-size: 1.3rem;

  }
  
 /* FORM */
  .container{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    background-color: #fff;
    padding: 2.5rem 3.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .containerTable{
    /* max-width: 80rem; */
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    background-color: #fff;
    padding: 2.5rem 3.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
  }
  .containerTable .title{
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 1rem;
    width: calc(100% / 2 - 2rem);
  }
  /* form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  } */
  .user-details .input-box input{
    height: 3.5rem;
    width: 90%;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: var(--color-primary);
  }
   form .button{
     height: 3.5rem;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: var(--color-primary)
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: var(--color-accent);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }